<ul class="menue-items m-0 ">
    <li><a class="mr-2 ml-2 " href="{% url 'office:office_home' %}"><span class="icon"><i class="fas fa-home"></i></span> الصفحة الرئيسية</a></li>
    <li><a class="mr-2 ml-2 " href="#"><span class="icon"><i class="fas fa-cog"></i></span> إعدادات الحساب</a></li>
    <li><a class="mr-2 ml-2 " href="#"> <span class="icon"><i class="fas fa-phone"></i></span> تواصل معنا</a></li>
    <li><a class="mr-2 ml-2 " href="{% url 'accounts:logout' %}"><span class="icon"><i class="fas fa-sign-in-alt"></i></span> الخروج</a></li>
</ul>
