.create_invoice-header{
    color: #142850;
    font-weight:bolder;
}
.create_invoice-header:after{
    content: "";
    border-top: 5px solid #00909e;
    width: 30px;
    display: block;
    position: relative;
    top: 10px;
}
#invoice_date{
    direction: ltr;
    text-align: left;
}
.items_header{
    color:#00909e;
}
.invoice_items > div{
    transition: all 0.5s ease-in-out;
}
.button-icon{
    width: 35px;
    text-align: center;
    border-left: 1px solid #ddd;
    margin-left: 13px;
    padding-left: 6px;
}