{% extends 'base.html' %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}

<div class="container">
  <div class="modal fade" id="DeleteModalConfirmation" tabindex="-1" role="dialog" aria-labelledby="DeleteModalConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ">تأكيد الحذف</h5>
        </div>
        <div class="modal-body">
          هل متأكد من حذف هذا العنصر ؟
        </div>
        <div class="modal-footer d-block">
          <form action="" method="post">
            <button type="button" class="col-3 btn btn-secondary" data-dismiss="modal">إغلاق</button>
            {% csrf_token %}
            <button name="DeleteCustomerConfirmation" value="true" type="submit" class="col-3 btn btn-danger" id="ConfirmationDeleteBtn">
              <span id="delete-content">حذف</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <header class="pr-4">
      <h5 class="office-header m-0">
        <span class="header-icon">
          <i class="fas fa-calendar-check"></i>
        </span>
        <b>
          {{title}}
        </b>
      </h5>
    </header>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 mb-5">
      {% if messages %}
      {% include 'alerts.html' %}
      {% endif %}
      <div class="mb-4 p-0  rounded search-box col-12 shadow border overflow-hidden">
        <div class=" agenda_element_info form-grouo ">
          <span id="notes" class="d-block text-justify font-15 text-muted p-2 ">
          </span>
        </div>
        <div class="row  border-bottom ">
          <span class="col pr-4 pb-2 d-block text-right border-left text-muted">
            <span class="span-icon text-right"><i class="fas fa-user-tie"></i></span><b>العميل : </b> <span
              id="customer_name">{{ agenda_detail.customer_name }}</span>
          </span>
          <span class="col pr-4  pb-2 d-block text-right text-muted"><span class="span-icon text-right"><i
                class="fas fa-sort-numeric-up-alt"></i></span><b>رقم الجلسة : </b> <span id="case_year"></span>/<span
              id="case_id"></span>{{ agenda_detail.case_id }}</span>
        </div>
        <div class="row  border-bottom ">
          <span class="col pr-4 pt-2 pb-2 d-block text-right border-left text-muted"><span
              class="span-icon text-right"><i class="fas fa-balance-scale"></i></span><b>المحكمة : </b> <span
              id="court">{{ agenda_detail.court }}</span></span>
          <span class="col pr-4 pt-2 pb-2 d-block text-right text-muted"><span class="span-icon text-right"><i
                class="fas fa-calendar-day"></i></span><b>ميعاد الجلسة : </b>
                <span class="date_container">
                <span id="session_date">{{ agenda_detail.session_date|date:'Y|b-d' }}</span>
                </span>
              </span>
        </div>
        <div class="row border-bottom">
          <a href="{% url 'office:update_agenda' agenda_detail.id %}" class="col pt-3 pb-3 d-block text-center border-left "><span class="span-icon text-right"><i
                class="fas fa-edit"></i></span> 
                تعديل
            </a>
          <span data-id-delete="" id="delete-object"
            class="cursor-pointer col pt-3 pb-3 d-block text-center text-danger" data-target="#DeleteModalConfirmation"
            data-toggle="modal">
            <span class="span-icon text-right text-danger"><i class="far fa-trash-alt"></i></span>
            حذف
          </span>

        </div>
        <div class="row">
          <a class="col pt-3 pb-3 d-block text-center border-left" id="mobile_number_href" href="{{ agenda_detail.customer_mobile }}"><span
              class="span-icon text-right"><i class="fas fa-phone"></i></span> إتصال</a>
          <span class="col pt-3 pb-3 d-block text-center text-muted copy_mobile_numer_btn">
            <span class="span-icon text-right"><i class="far fa-copy"></i></span>
            <span id="copy_mobile">{{ agenda_detail.customer_mobile }}</span>
          </span>
        </div>
        <div class="row border-top">
          <a class="col pt-3 pb-3 d-block text-center border-left" id="mobile_number_href" href="{% url 'office:agenda' %}">
            <span class="span-icon text-right"><i class="fas fa-arrow-alt-circle-right"></i></span>
            الذهاب لجدول الاعمال
          </a>
        </div>
      </div>
    </div>
    <aside class="col-lg-3 col-md-12">
      {% include "office/agenda_aside.html" %}
      {% include "aside.html" %}
    </aside>
  </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}